@font-face {
  font-family: alibaba;
  src: url('../assets/fonts/Alibaba-PuHuiTi-Light.otf');
}
@font-face {
  font-family: AliHYH;
  src: url('../assets/fonts/Alibaba-PuHuiTi-Regular.otf');
}
:root {
  --el-color-primary: #2c73ff;
  --primary-color: #2c73ff;
}

body {
  background-color: rgba(247, 249, 255, 1);
  color: #000;
}
.card-shadow {
  box-shadow: 0px 4px 24px 0px rgba(4, 3, 73, 0.31);
}
.button-shadow {
  box-shadow: 0px 1px 14px 0px rgba(4, 3, 73, 0.3);
}

.el-textarea__inner,
.el-input {
  --el-input-border-radius: 1rem !important;
  --el-input-text-color: #000 !important;
}
.el-input__inner {
  font-weight: 500 !important;
}
.el-input__wrapper {
  background: #f9f9fa !important;
}
.el-popper__arrow {
  display: none !important;
}
.el-dialog {
  border-radius: 2rem !important;
}
